[Unit]
Description=Run Axelio QuickResto synchronization every 10 minutes (production)

[Timer]
OnBootSec=3min
OnUnitActiveSec=10min
RandomizedDelaySec=30s
Persistent=true
Unit=axelio-quickresto-sync-prod.service

[Install]
WantedBy=timers.target
